#settings_reload_test{ 
  list-style-image: url("reload_test.png");
  -moz-image-region: rect(0px 52px 17px 0px);
}

#settings_reload_both{ 
  list-style-image: url("reload_both.png");
  -moz-image-region: rect(0px 65px 17px 0px);
}