/* Something from the following CSS selectors made the binding not apply*/
/*vbox#commandDetail grid rows row:nth-child(1), vbox#commandDetail row:nth-child(1), vbox#commandDetail xul:row, vbox#commandDetail row, row[align="center"], row, xul:row,*/

vbox#commandDetail row:nth-child(1) {
    -moz-binding: url( 'chrome://selite-hands-on-gui/content/ui/bindings.xml#commandRow' );
}

tree#commands treechildren::-moz-tree-cell(recordIndex)
{
    border-top: none;
  /* Override of border-top: 1px solid #008800; from Selenium's chrome/skin/classic/selenium-ide.css. When editing-in-place a command's target/value or a comment, that rule caused underscores _ not to show up. */
}

tree#commands  {
    -moz-binding: url( 'chrome://selite-hands-on-gui/content/ui/bindings.xml#commands' );
}

// @TODO consider: textbox.tree-input
/*textbox[anonid="input"] {
    -moz-binding: url( 'chrome://selite-hands-on-gui/content/ui/bindings.xml#input' );
}*/