tree#commands  {
    -moz-binding: url( 'chrome://selite-clipboard-and-indent/content/ui/bindings.xml#commands' );
}

textbox#commandTarget  {
    -moz-binding: url( 'chrome://selite-clipboard-and-indent/content/ui/bindings.xml#commandTarget' );
}

keyset#seleniumIDEKeys {
    -moz-binding: url( 'chrome://selite-clipboard-and-indent/content/ui/bindings.xml#seleniumIDEKeys' );
}

commandset#seleniumIDECommands {
    -moz-binding: url( 'chrome://selite-clipboard-and-indent/content/ui/bindings.xml#seleniumIDECommands' );
}